CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/
resource/

# UI bundling
src/ui/node_modules
src/ui/dist

# Apple Filesystem BS
.DS_Store

# VS Code
.vscode
